@model HCAMiniEHR.Models.LabOrder

<div class="container mt-4">
    <h2 class="text-primary">Add Lab Order</h2>

    <form asp-action="Create" method="post">

        <div asp-validation-summary="All" class="text-danger mb-2"></div>

        <div class="mb-3">
            <label class="form-label">Appointment</label>
            <select asp-for="AppointmentId"
                    asp-items="ViewBag.Appointments"
                    class="form-select">
                <option value="">-- Select Appointment --</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Test Name</label>
            <input asp-for="TestName" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select asp-for="Status" class="form-select">
                <option>Pending</option>
                <option>Completed</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>

    </form>
</div>
